*{
    box-sizing: border-box;
    background-color:rgb(15.69%, 17.25%, 20%);
    font-family: 'Fira Code', monospace;
}
.fixed {
    margin: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
  }
  .background-img{
    position:absolute;
    z-index: -1;
    top: auto;
  }
  .header{
    margin-left: 171px;
    margin-right: 171px;
    display: flex;
    padding-top: 10px;

      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
      background-color: rgb(15.69%, 17.25%, 20%); /* background fix krna zaroori hai */
    }
  nav{
    display: flex;
    flex-direction: row-reverse ;
    flex: 1;
    flex-wrap: nowrap;
    
    
  }
  nav li{
    display: inline-block;
    padding-left: 20px;
    font-size: 16px;
  }
  h2{
    color: white;
    font-size: 32px;
  }
  nav li a{
    text-decoration: none;
    color: rgb(119, 122, 150);
    font-weight: bold;
  }
  .hash{
    color: rgb(66, 112, 153);
  }
  h4{
    font-size: 16px;
    color: rgb(255, 255, 255);
  }
  .contacts{
    margin: 150px 171px 20px 171px;
      box-sizing: border-box;
   }
   .contacts h2::after{
    content: " ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━";
    color: gray;
    font-size: 10px;
    vertical-align: middle;
  }
   .contact-card{
    display: flex;
   }
   .left-contacts{
    flex: 1;
    line-height: 2.0;
    font-size: 15px;
    color: gray;
    font-weight: bold;
   }
  
   .right-contacts{
    flex: 1;
    display: flex;
    margin-top: 15px;
    line-height: 2.0;
    font-size: 16px;
    padding-left: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
   }
   .support{
    margin-right: 5px;
    border: 1px solid rgba(146, 157,175, 1);
    padding: 10px;
   }
   .right-contacts ul li{
    list-style-type: none;
   }
   .right-contacts ul li a{
    text-decoration: none;
    color: gray;
    list-style: none;
    margin-right: 5px;
    margin-left: -45px;
   }
   .all-media{
    margin: 100px 171px 0px 171px;
   }
   .media-id{
    display: flex;
   }
   .id{
    margin-top: 7px;
    color: rgba(146, 157,175, 1) ;
   }
   .footer{
    border-top: 1px solid gray;
    margin-top: 100px;
   }
   .footer h4{
    margin-left: 171px;
  
   }
   .footer span{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 171px;
    margin-top: -15px;
    font-size: 20px;
  
   }
   .copyright{
    color: gray;
    text-align: center;
    padding:10 20px 0px 20px;
   }
   